@page "/Personas"

@inject IToastService toast

<EditForm Model="Persona" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            Registro de Persona
        </div>
        <div class="card-body">
            <form>
                @*Persona*@
                <div>
                    <label class="form-label ">Id</label>
                </div>
                <div class="input-group my-2">

                    <input class="form-control" @bind="@Persona.PersonaId" />
                    <button type="button" class="btn btn-warning" @onclick="Buscar">
                        <i class="oi oi-magnifying-glass mr-2" /> Buscar
                    </button>
                </div>

                <div>
                    <label class="form-label">Nombre</label>
                    <input class="form-control" @bind="@Persona.Nombres" />
                </div>

                <div>
                    <label class="form-label">Apellido</label>
                    <input class="form-control" @bind="@Persona.Apellidos" />
                </div>

                <div>
                    <label class="form-label">Balance</label>
                    <input class="form-control" @bind="@Persona.Balance" readonly />
                </div>



            </form>
        </div>
        <div class="card-footer">

            <div class="form-group text-center" display: inline-block>
                <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">
                    <i class="oi oi-file mr-2" />
                    Nuevo
                </button>
                <button type="submit" class="btn btn-lg btn-success">
                    <i class="oi oi-account-login mr-2" style="transform:rotate(90deg)" />
                    Guardar
                </button>
                <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">
                    <i class="oi oi-trash mr-2" />
                    Eliminar
                </button>

            </div>

        </div>
    </div>
</EditForm>

@code {

    public int PersonaId { get; set; }

    private Personas Persona = new Personas();

    protected override void OnInitialized()
    {

        Nuevo();

    }

    public void Nuevo()
    {
        Persona = new Personas();
    }

    private void Buscar()
    {
        var encontrado = PersonasBLL.Buscar(Persona.PersonaId);

        if (encontrado != null)
            this.Persona = encontrado;
        else
            toast.ShowWarning("La persona fue encontrado");
    }

    public void Guardar()
    {
        bool guardo;

        guardo = PersonasBLL.Guardar(Persona);

        if (guardo)
        {
            Nuevo();
            toast.ShowSuccess("Guardado correctamente");
        }
        else
            toast.ShowError("No se pudo guardar");
    }

    public void Eliminar()
    {
        bool elimino;

        elimino = PersonasBLL.Eliminar(Persona.PersonaId);

        if (elimino)
        {
            Nuevo();
            toast.ShowSuccess("Eliminado correctamente");
        }
        else
            toast.ShowError("No se pudo eliminar");
    }

}